<md-content flex="50">
    <md-card ng-show="ctrl.studio" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ctrl.studio.Name}}</span>
                <span class="md-subhead">Address: {{ctrl.studio.Address}}</span>
                <span class="md-subhead">Zip Code: {{ctrl.studio.PostalCode}}</span>
                <span class="md-subhead">City: {{ctrl.studio.City}}</span>
                <span class="md-subhead">Coutry: {{ctrl.studio.Country}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img src="{{ctrl.studio.ImgUrl}}"/>
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <div map-lazy-load="//maps.googleapis.com/maps/api/js?key=AIzaSyDlqUQwzkwBZ81PviHVr6DHT637TOT9DRM"
                 map-lazy-load-params="">
                <ng-map center="{{ctrl.studio.Location.lat}}, {{ctrl.studio.Location.lng}}" zoom="18">
                    <marker position="[{{ctrl.studio.Location.lat}}, {{ctrl.studio.Location.lng}}]"></marker>
                </ng-map>
            </div>
                <!--<ng-map center="{{ctrl.studio.Location.lat}}, {{ctrl.studio.Location.lng}}" zoom="18">

                </ng-map>-->
        </md-card-content>
    </md-card>

    <!--<md-card ng-show="ctrl.studio">
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="{{ctrl.studio.img}}">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{ctrl.studio.Name}}</span>
                <span class="md-subhead">{{ctrl.studio.Address}}</span>
            </md-card-header-text>
        </md-card-header>
        &lt;!&ndash;<img ng-src="card-image.png" class="md-card-image" alt="image caption">&ndash;&gt;
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Card headline</span>
                <span class="md-subhead">Card subheader</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
            <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="icon">
                    <md-icon md-svg-icon="icon"></md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <p>
                Card content
            </p>
        </md-card-content>
    </md-card>-->
    <h1 ng-show="!ctrl.studio">Could not fetch studio information</h1>
</md-content>