<md-dialog aria-label="Booking">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Booking</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Booking {{ctrl.message.Code}}</h2>
                <table>
                    <tr>
                        <td>
                            Date:
                        </td>
                        <td>
                            {{ctrl.message.Date}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Time:
                        </td>
                        <td>
                            {{ctrl.message.Time}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name:
                        </td>
                        <td>
                            {{ctrl.message.Customer}}
                        </td>
                    </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        {{ctrl.message.Phone}}
                    </td>
                </tr>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>