<md-content flex="50">
    <md-list>
        <md-list-item ng-show="ctrl.bookings" class="md-3-line" ng-repeat="item in ctrl.bookings">
            <div class="md-list-item-text">
                <h3>Booking: {{item.Code}}</h3>
                <h4>Customer: {{item.Customer}}</h4>
                <p>Phone: {{item.Phone}}</p>
            </div>
            <md-button class="md-secondary" ng-click="ctrl.showLarge(item)">View</md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item ng-show="!ctrl.bookings">No bookings available</md-list-item>
    </md-list>
</md-content>